#!/bin/bash
# packages hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

set -euo pipefail

MISE_BIN_PATH="{{ if $m := lookPath "mise" }}{{ $m }}{{ else if $l := lookPath (joinPath .chezmoi.homeDir ".local/bin/mise") }}{{ $l }}{{ else }}mise{{ end }}"

$MISE_BIN_PATH trust {{ .chezmoi.homeDir }}/.config/mise/config.toml
$MISE_BIN_PATH install
