{{- $remote := or (env "CODESPACES" | not | not) (env "SSH_CONNECTION" | not | not) (env "KUBERNETES_SERVICE_HOST" | not | not) (env "container" | not | not) (env "REMOTE_CONTAINERS" | not | not) (stat "/.dockerenv" | not | not) -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  remote = {{ $remote }}

{{- if not $remote }}
[git]
  autoCommit = false
  autoPush = false
{{- end }}
