{{- $remote := or (env "CODESPACES" | not | not) (env "SSH_CONNECTION" | not | not) (env "KUBERNETES_SERVICE_HOST" | not | not) (env "container" | not | not) (env "REMOTE_CONTAINERS" | not | not) (stat "/.dockerenv" | not | not) -}}

set -o vi

# edit PATH
if [[ -d $HOME/.local/bin ]]; then
  export PATH=$HOME/.local/bin:$PATH
fi

if command -v mise >/dev/null; then
  eval "$(mise activate bash)"
fi

# (neo)vim
if command -v nvim > /dev/null ; then
  export EDITOR="nvim"
  export VISUAL="nvim"
elif command -v vim > /dev/null ; then
  export EDITOR="vim"
  export VISUAL="vim"
fi

# enable the starship prompt
if command -v starship >/dev/null; then
  eval "$(starship init bash)"
fi

# use bat instead of cat
if command -v bat >/dev/null; then
  alias cat="bat"
fi

# claude-mem
alias claude-mem='$HOME/.bun/bin/bun "$HOME/.claude/plugins/marketplaces/thedotmack/plugin/scripts/worker-service.cjs"'
