{{ if eq .chezmoi.os "darwin" -}}
brew "git"
brew "git-extras"
brew "diff-so-fancy"
brew "zsh-completions"
cask "font-lilex-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "beyond-compare"
cask "flycut"
cask "google-chrome"
cask "slack"
cask "visual-studio-code"
cask "iterm2"
cask "omnidisksweeper"
cask "1password"
cask "1password-cli"
cask "claude"
cask "wezterm"
{{- end }}
